Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.pc
aclocal.m4
acinclude.m4
aminclude.am
m4/*.m4
autom4te.cache
config.h*
config.sub
config.log
config.status
config.guess
configure
depcomp
missing
ltmain.sh
install-sh
stamp-h1
libtool
Doxyfile

.tarball-version
.version

.*.swp

doc/

src/rtl_sdr
src/rtl_tcp

CMakeCache.txt
*/CMakeFiles
CMakeFiles
build

**/*.o
**/*.so*
**/*.a
src/rtl_adsb
src/rtl_eeprom
src/rtl_fm
src/rtl_ir
src/rtl_power
src/rtl_rpcd
src/rtl_test

debianize/*.deb
.cproject
.project
