name: Build (Windows, CMake)

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build with Visual Studio 2022
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v2

      - name: Configure (CMake)
        run: |
          #cmake -S src -B build -G "Visual Studio 17 2022" -A x64
          cmake -S src -B build -G "Visual Studio Enterprise 2022" -A x64

      - name: Build
        run: cmake --build build --config Release
